@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
}

/* --- HEADER AND HERO SECTIONS --- */

.header,
.hero-section,
.footer {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

.header, .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header {
    padding: 10px 200px 0px;
}

.hero-section { 
    padding: 100px 200px 120px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.page-links {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hero-text {
    width: 450px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800; /* extra-bold */
}

a,
.hero-subtext {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

button {
    padding: 8px 28px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.placeholder-img {
    width: 500px;
    height: 230px;
    flex-shrink: 0;
    background-color: #6d747d;
}

/* --- INFO SECTION --- */

.info-section {
    padding: 50px 0px 100px;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    text-align: center;
}

.info-header {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 800;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    max-width: 155px;
}

.info-text {
    margin-top: 8px;
    font-weight: 300;
}

.placeholder {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

/* --- FOOTER --- */

.footer {
    margin-top: 20px;
    /* temporary to separate from header section */
}