@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header,
.footer {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

.hero-logo {
    font-size: 24px;
    font-weight: 700;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800; /* extra-bold */
}

a,
.hero-second-text {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer {
    margin-top: 20px; /* temporary to separate from header section */
}